
    html
    {
font-family: monaco, Consolas, "Lucida Console", monospace;
    }

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #f6682F;
}

.navbar-inverse .navbar-toggle {
    border-color: #333;
    background-color: #f6682F;
}

        .btn.btn-circle {
  padding: 0;
  border-radius: 50%;
}

.btn-circle {
  width: 56px;
  height: 56px;
  min-width: 56px;

  span {
    line-height: 56px;
  }
}

.btn-circle.btn-lg {
  width: 78px;
  height: 78px;
  min-width: 78px;

  span {
    line-height: 78px;
  }
}

.btn-circle.btn-sm {
  width: 40px;
  height: 40px;
  min-width: 40px;

  span {
    line-height: 40px;
  }
}

.btn-circle.btn-xs {
  width: 30px;
  height: 30px;
  min-width: 30px;

  span {
    line-height: 30px;
  }
}

.navbar-inverse {

    background: #fff;
 text-shadow: 0 0px 0 rgba(0,0,0,.25);
    color: #f6682F;

}
.navbar-inverse .navbar-nav>li>a {
   color: #f6682F;
       text-shadow: 0 0px 0 rgba(0,0,0,.25);
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #f6682F;
}

.navbar-inverse .navbar-brand {
    color: #f6682F;
     text-shadow: 0 0px 0 rgba(0,0,0,.25);
}

.navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #f6682F;
    background-color: transparent;
}
