<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Email Preview</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/email.css" />
    </head>
    <body color="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
        <table class="head-wrap" color="#999999">
            <tr>
                <td></td>
                <td class="header container">
                    <div class="content">
                        <table color="#999999" class="">
                            <tr>
                                <td>
                                    {{logo}}
                                </td>
                                <td align="right"><h6 class="collapse"></h6></td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td></td>
            </tr>
        </table>
        <table class="body-wrap">
            <tr>
                <td></td>
                <td class="container" color="#FFFFFF">
                    <div class="content">
                        <table>
                            <tr>
                                <td>
                                    <h1>Thank you, Hari Seldon</h1>
                                    <p class="lead">
                                        Here are your tickets for
                                        <h2>
                                        Scouting for Talents & Value Creation - ADIDAS
                                        </h2>
                                    </p>
                                    <h2>
                                    {{message}}
                                    <!--API data-->
                                    {{event_name}}
                                    {{event_logo}}
                                    {{event_date}}
                                    {{event_time_start}}
                                    {{event_time_end}}
                                    {{event_logo}}
                                    {{event_location}}
                                    {{attendee_name}}
                                    {{order_id}}
                                    {{order_info}}<!--Order #123. Ordered by USER_NAME on April 5, 2018 10:15-->
                                    {{order_payment_status}}
                                    {{ticket_class}} <!--Ticket VIP-->
                                    {{ticket_class_seat}}<!--Seat 18F-->
                                    <!--Our model-->
                                    {{ticket_message}}
                                    {{event_message}}
                                    {{organizer_logo}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="column-wrap">
                        <div class="column">
                            <table align="left">
                                <tr>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
        </table>
        <table class="footer-wrap">
            <tr>
                <td></td>
                <td class="container">
                    <div class="content">
                        <table>
                            <tr>
                                <td align="center">
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td></td>
            </tr>
        </table>
    </body>
</html>