{% extends 'base_.html' %}
{% load static from staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/image-picker.css' %}">
<style type=“text/css”>
   .thumbnail>img{
       width: 310px;
       max-height: 380px;
   }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/image-picker.js' %}"></script>
<!--
    {% if form.errors %}
        <strong>Fix the following errors.</strong>
        {% for key, value in form.errors.items %}
            <p>{{ key }}:{{ value.0 }}</p>
        {% endfor %}
    {% endif %} -->

    <h2>Customization Details</h2>
    <hr>

    <p>After purchasing a ticket or registering for your events, attendees will receive an email with a ticket attached, both of which you can customize below. </p>
    <br>
    <form role="form" method="post" enctype="multipart/form-data">{% csrf_token %}

        <p><b>{{ form.name.label }}</b> {{ form.name }} {% if form.name.errors %}<div class="alert alert-danger">
                <strong>{{ form.name.errors }}</strong>
            </div>{% endif %}</p>
        <br/>
        <p><b>{{ form.select_event.label }}</b> {{ form.select_event }}</p>
        <br/>
        <p><b>Do you want the ticket to be attached along with the email?</b> {{ form.pdf_ticket_attach }}</p>
        If you select <b>NO</b>, only the email will be sent without attached ticket.
        <br/>
        <br/>

        <p><b>Select template</b></p>
        <div style="padding-left: 60px; font-weight: bold;">

        <select name="select_design_template" required="" id="id_select_design_template" class="image-picker show-labels show-html">
        {% for tickets in form.tickets_templates %}
        <option data-img-label='{{ tickets.name}}' data-img-src='{{tickets.preview}}' value='{{tickets.id}}'>
        </option>
        {% endfor %}
        </select>
    </div>

        <h3>Customize</h3>
        <hr>
        <p>Add important information, brand logo, poster image or messages on the email and tickets. </p>
        <br/>
        <p><b>Logo</b> {{ form.logo }}</p>
        <br/>
        <p><b>Ticket message</b> {{ form.message_ticket }} {% if form.message_ticket.errors %}<div class="alert alert-danger">
                <strong>{{ form.message_ticket.errors }}</strong>
            </div>{% endif %}</p>
        <br/>
        <p><b>Poster Image:</b> {{ form.image_partner }}</p>
        <br>
        <p><b>Email message</b> {{ form.message }}  {% if form.message.errors %}<div class="alert alert-danger">
                <strong>{{ form.message.errors }}</strong>
            </div>{% endif %}</p>
        <br/>
        <h3>Additional Settings</h3>
        <hr>
        <p>You can add legal requirements, additional information for you attendees or a message from a partner.</p>
        <br>
        <a onclick="toggle('info')"  class="btn">Insert additional info</a>
        <div id='info' style='display: none;' class="col-md-12 d-none js-custom-event-form">
            <b><br><input onclick="toggle('add')" id="checkBox" type="checkbox"> Additional Info</b>
            <div id="add" style='display: none;'>
                <br>
                {{ form.additional_info }}
            </div>
            <br>
            <b><br><input onclick="toggle('footer')" id="checkBox" type="checkbox"> Footer description</b>
            <p>The footer description is a short text that will be placed at the bottom ticket in which is usually put legal information such as ssn, name of the organizer, etc.</p>
            <div id="footer" style='display: none;'>
                <br><p><b>Ticket message</b> {{ form.footer_description }} {% if form.footer_description.errors %}<div class="alert alert-danger">
                <strong>{{ form.footer_description.errors }}</strong>
            </div>{% endif %}</p>
                <br>
            </div>
            <br><input onclick="toggle('sequence')" id="checkBox" type="checkbox"> <b>Numerate tickets</b>
            <p>Select if you need tickets numerated by ticket type or by event. </p>
            <br><div id="sequence" style='display: none; padding-left: 30px'>
                {{ form.show_event_sequence }} {{ form.show_event_sequence.label }}
                <br>
                {{ form.show_ticket_type_sequence }} {{ form.show_ticket_type_sequence.label }}
                <br>
            </div>

            {{ form.hide_ticket_type_price }} <b>Price</b> <br> Select if you need to hide the price of ticket purchased<br>

            <br><b>{{ form.double_ticket }} {{ form.double_ticket.label }} </b> <br>Select if you need the information of the tickets duplicated one page for each attendee.<br>
            <br>

        </div>


    <div style="text-align: center">
        <a class="btn btn-danger" href="{% url 'list_customizations' %}">Cancel</a>
        <input type="submit" class="btn btn-success" name="create_customization"  value="Create"/>
    </div>

    </form>
<script type="text/javascript">
    $("#id_select_design_template").imagepicker({
          show_label  : true
        })
</script>

<script>
  function toggle(id) {
    var x = document.getElementById(id);
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>


{% endblock %}