{% extends 'base_.html' %}
{% load static from staticfiles %}
{% block content %}
    {% if form.errors %}
        <strong>Fix the following errors.</strong>
        {% for key, value in form.errors.items %}
            <p>{{ key }}:{{ value.0 }}</p>
        {% endfor %}
    {% endif %}
    <h2>Create customization</h2>
    <form style="padding-left: 50px" role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
        <p>{{ form.name.label }} : {{ form.name }}</p>
        <p>{{ form.select_event.label }} : {{ form.select_event }}</p>
        <p>{{ form.logo.label }} : {{ form.logo }}</p>
        <p>{{ form.message.label }} : {{ form.message }}</p>
        <p>{{ form.select_design_template.label }} : {{ form.select_design_template }}</p>
        <p>{{ form.message_ticket.label }} : {{ form.message_ticket }}</p>
        <br>
        <div style="text-align: center">
        <a class="btn btn-danger" href="{% url 'home' %}">Cancel</a>
        <input type="submit" class="btn btn-success" name="create_customization"  value="Create">
    </div>
    </form>


{% endblock %}

