{% extends 'base.html' %}
{% block content %}
<!-- not used    <h1>My Customizations</h1>
    <ul>
        {% for customization in customizations %}
            <p>
                <li>User: {{ customization.user }} </li>
                <li>Logo: {{ customization.custom_email.logo }} </li>
                <li>Mensaje: {{ customization.custom_email.message }} </li>
                <li>Creado: {{ customization.created }} </li>
                <li>ID: {{ customization.id }} </li>
                <a class="btn btn-danger" href="{% url 'customizations:delete_customization' pk=customization.id  %}"> delete </a>
            </p>
            {% empty %}
            <li>No customizations yet.</li>
        {% endfor %}
    </ul>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">
                <a href="{% url 'customizations:create_customization' %}">
                    <button type="button" class="pull-right btn btn-circle btn-danger"><span class="fa fa-plus"></span></button>
                </a>
            </span>
        </div>
    </footer> -->
{% endblock %}