{% extends 'base_.html' %}
{% load static from staticfiles %}

{% block content %}
 <br>
  <br>
 <h2>Update Customization</h2> <br>
  <br>
    <form action="" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <p>{{ form.name.label }} : {{ form.name }}</p>
        <p>{{ form.select_event.label }} : {{ form.select_event }}</p>
        <p>Logo :<img src="{{ instance.custom_email.logo }}" width="250" height="200" /></p>
        <p>{{ form.logo.label }} ({{instance.custom_email.logo}})</p>

        <p>{{ form.logo.label }} : {{ form.logo }}</p>
        <p>{{ form.message.label }} : {{ form.message }}</p>
        <p>{{ form.select_design_template.label }} : {{ form.select_design_template }}</p>
        <p>{{ form.message_ticket.label }} : {{ form.message_ticket }}</p>
<div style="text-align: center">
  <br>
  <br>
        <input type="submit" class="btn btn-primary" value="Save">
    </div>
    </form>


{% endblock %}

