{% load static %}
{% load qr_tags %}
{% for attendee in attendees %}

<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <style>

  .qr{
      width: 120px;
  }
  .front {
      text-align: center;

  }

  .text
  {
  line-height: 1.2
  }
  .logo {
  text-align: left;
  float: left;
  padding: 10px;
  width: 120px;
  height: 34px;
  }

  .partner-img{
    width: 220px;
    height: 125px;
  }

  /* Regular */
  @font-face {
  font-family: myFirstFont;
  src: url(static/font/BentonSans-Regular_sOT.otf);
  }

  /* Regular */
  @font-face {
  font-family: myFirstFont;
  src: url(static/font/BentonSans-Bold_sOT.otf);
  font-weight: bold;
  }

  @page {

  background-image: url('static/images/img_pattern_back.jpg');
  size: letter portrait;
  @frame front_image { /* front_image */
          -pdf-frame-content: front_image;
      left: 0pt; width: 306pt; top: 0pt; height: 220pt;
  }

  @frame  { /* QR */
      -pdf-frame-content: qr_code;
  left: 106pt; width: 90pt; top: 150pt; height: 100pt;

  }
  @frame { /* Content frame 1 */
      -pdf-frame-content: st_quad;
  left: 0pt; width: 306pt; top: 240pt; height: 160pt;
  }
  @frame { /* Content frame 2 */
      -pdf-frame-content: nd_quad;
  right: 0pt; width: 306pt; top: 0pt; height: 396pt; border:1px dashed #ccc;
  }

  @frame rd_quad { /* Content frame 3 */
      -pdf-frame-content: rd_quad;
  left: 0pt; width: 306pt; top: 396pt; height: 396pt;border:1px dashed #ccc;
  }
  @frame th_quad { /* Content frame 4 */
      -pdf-frame-content: th_quad;
  right: 0pt; width: 306pt; top: 396pt; height: 396pt;border:1px dashed #ccc;}


  }
  </style>

  <body >

<div>
<!-- - - - - - - - - - - - - - - QR CODE - - - - - - - - - - - - - - - - - -->
<table>
  <tr>
    <td>
    <div class="images" style="width: 900px" >

<!-- - - - - - - - - - - - - - - FRONT IMAGE - - - - - - - - - - - - - - - - - -->
      <div id="front_image" style=" text-align: center;width: 900px">
           <img class="front"  src="static/images/event-byn.png" alt="">
      </div>
<!-- - - - - - - - - - - - - - - END FRONT IMAGE - - - - - - - - - - - - - - - - - -->
      <div class="qr" style="padding-top: 200px; text-align: center">
      {% qr_from_text attendee.barcode "m" %}
      </div>
    </div>
<!-- - - - - - - - - - - - - - - END QR CODE - - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - - 1ST QUAD - - - - - - - - - - - - - - - - - -->
    <div class="quad_1" style="text-align: center">
        <div style="font-family: myFirstFont;color: #282C35;">
            {{ attendee.barcode }}
        </div>

        <div style="font-family: myFirstFont;font-size: 22px;color: #282C35;">

              {{attendee.attendee_first_name}} {{attendee.attendee_last_name}}


        </div>

        <div style="font-family: myFirstFont; font-weight: bold; font-size: 9px;color: #282C35;">
                    <br><br><br><br><br><br><br><br><br><br>
              {{footer_description}}

        </div>

    </div>

  </td>
  <td>
<!-- - - - - - - - - - - - - - - END 1ST QUAD - - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - - 2ND QUAD - - - - - - - - - - - - - - - - - -->
    <div class="quad_2" style="position: absolute;top: 0;right: 0">
        <div class="text" style="text-align: right; padding-right: 10px">
            <span style="font-family: myFirstFont;font-weight: bold;color:#ADB0B6; text-align: right;">
             {% if attendee.ticket_type_sequence %}
                  Sequence #{{ attendee.ticket_type_sequence }}
              {% endif %}
              {% if attendee.event_sequence %}
                  Sequence #{{ attendee.event_sequence }}
              {% endif %}
            </span>
          </div>

          <div class="logo" style="padding: 5px;">
            {% if logo_url %}
              <img  style="font-family: myFirstFont;padding: 10px;" src="{{ logo_url }}" alt="LOGO" border="0" >
            {% else %}
              <img class="front"  src="static/images/logohori.png" alt="">
            {% endif %}
          </div>

        <div class="content" style="font-family: myFirstFont;padding: 10px;">

          <span style="font-weight: bold; font-family: myFirstFont;font-size: 20px;color:#282C35; text-align: center">
            <br>{{event_name_text}}<br>
          </span>

          <span style="font-family: myFirstFont;font-size: 10px; color:#ADB0B6;"><br>DATE & TIME<br></span>

          <span style="font-weight: bold; font-family: myFirstFont;font-size: 10px;color:#282C35;">
          {{event_start}}<br>
          </span>


         <span style="font-family: myFirstFont;font-size: 10px; color:#ADB0B6;"><br>LOCATION</span>
         <span style="font-weight: bold; font-family: myFirstFont;font-size: 10px;color:#282C35;">
          <br>
          {{event_venue_location.address_1|default_if_none:""}}
          {{event_venue_location.address_2|default_if_none:""}}
          <br>
          {{event_venue_location.city|default_if_none:""}}, CA {{event_venue_location.postal_code|default_if_none:"" }}
          <br>
          {{event_venue_location.region|default_if_none:""}}
          <br>
          {{event_venue_location.country|default_if_none:""}}
          <br>
         </span>
         <span style="font-family: myFirstFont;font-size: 10px; color:#ADB0B6;"><br>TICKET TYPE</span>
         <span style="font-weight: bold; font-family: myFirstFont;font-size: 10px;color:#282C35;">
          <br>
            {{attendee.ticket_class}} <br>
            {% if not customization.ticket_template.hide_ticket_type_price %}
              {{ attendee.cost_gross }}
            {% endif %}<br>
         </span>
        {% if attendee.reserved_seating %}
         <span style="font-family: myFirstFont;font-size: 10px; color:#ADB0B6;"><br>RESERVED SEATING</span>
         <span style="font-weight: bold; font-family: myFirstFont;font-size: 10px;color:#282C35;">
          <br>

                {{ attendee.reserved_seating }}<br>

         </span>
         {% endif %}
          <span style="font-family: myFirstFont;font-size: 10px; color:#ADB0B6;"><br>DETAILS</span>
         <span style="font-weight: bold; font-family: myFirstFont;font-size: 10px;color:#282C35;">
          <br>
            {{message_ticket}}
          </span>

        </div>
      </div>
    </div>
  </td>
</tr>
<!-- - - - - - - - - - - - - - - END 2ND QUAD - - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - - 3RD QUAD - - - - - - - - - - - - - - - - - -->
<tr>
  <td>
     <div class="quad_3">
        <div id="rd_quad" style="text-align: right; padding: 7px">
          <span style="font-family: myFirstFont;font-weight: bold;color:#ADB0B6;font-family: limyFirstFont;text-align: right;">
             Then here
          <img width="18px" src="static/images/arrow_right.png" alt="arrow">
          </span>
          <br><br><br>
        </div>

          {% if double_ticket %}

       <table>

          <tr>
            <td style="padding-left: 10px;">
               <span style="font-size: 10px; font-weight: bold;">LOCATION<br></span>
               <span style="font-size: 10px;color:#878685;">
                {{event_venue_location.address_1|default_if_none:""}}, {{event_venue_location.address_2|default_if_none:""}} - {{event_venue_location.postal_code|default_if_none:"" }}
                {{event_venue_location.city|default_if_none:""}}, {{event_venue_location.country|default_if_none:""}}
                {{event_venue_location.region|default_if_none:""}}

                </span>

                <p>
                <span style="font-size: 10px; font-weight: bold;">DATE<br></span>
                <span style="font-size: 10px;color:#878685;">
                {{event_start}}
                </p>
                </span>
                <span style="font-size: 10px; font-weight: bold;">TICKET TYPE<br></span>
                  <span style="font-size: 10px;color:#878685;">
                 {{attendee.ticket_class}} <br>
                      {{ attendee.cost_gross }}
                 </p>
                </span>
              </td>
            <td style="width: 150px;text-align: center;">
              <div class="qrdob">
                    {% qr_from_text attendee.barcode "s" %}<br>
                    <span style="font-size: 10px;">
                  Order #{{order_id}} <br>
                  {% if attendee.ticket_type_sequence %}
                      Sequence  #{{ attendee.ticket_type_sequence }}<br>
                  {% endif %}
                  {% if attendee.event_sequence %}
                      Sequence  #{{ attendee.event_sequence }}<br>
                  {% endif %}
                 </span>
                </div>

            </td>
      </tr>
      <br>
      <tr>
        <td colspan="2" style="text-align: center;">
          <br>
      <span style="text-align: center;">
       {{footer_description}}
      </span></td>
    </tr>
  </table>

      {% else %}


      {% endif %}

  </div>
</td>
<!-- - - - - - - - - - - - - - - END 3RD QUAD - - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - - 4TH QUAD - - - - - - - - - - - - - - - - - -->
<td>

    <div class="quad_4">
        <div id="th_quad" style="font-family: myFirstFont;padding: 7px;text-align: left;">
          <span style="font-family: myFirstFont;font-weight: bold; padding: 20px;color:#ADB0B6;">
            <img width="18px" src="static/images/arrow_up.png" alt="arrow">Fold here first
          </span>
        </div>
        <br><br><br><br>
        <div style="font-family: myFirstFont;padding: 10px;text-align: center;" class="transition scaleX text">
            {% if image_partner %}
          <span style="font-family: myFirstFont;text-align: center;">
            <div class="partner-img">
              <img style="width: 285px; height: 410px;" src="{{ image_partner }}" alt="LOGO" border="0" > <br><br>
            </div>
          </span>
            {% else %}
          <span style="font-family: myFirstFont;text-align: center;">
            <img src="static/images/img_find_event.png" alt="">
          </span>
            {% endif %}
        </div>
    </div>
  </td>
</tr>
</table>
<!-- - - - - - - - - - - - - - - END 4TH QUAD - - - - - - - - - - - - - - - - - -->
</div>
<div style="display:block; page-break-before:always;"></div>

{% endfor %}


  </body>

</html>
<style>
table {
}
</style>


