{% load static %}
{% load qr_tags %}
{% for attendee in attendees %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<style>
.dashed-line{
  padding-bottom: 5px;
  padding-top: 5px;
}
.qr-code{
    width: 250px;
    text-align: center;
}
.eb{
    width: 100px;
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    width: 100%;
}
th {
    text-align: left;
    padding: 8px;
}
hr.line {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}
.logo {
text-align: center;
float: left;
width: 180px;
}
</style>
<body >
<!-- - - - -  - - - - - - - - HEADER - - - - - - - - - - - - - -->
<table>
  <tr >
    <th style="background: white; font-weight: bold;">
        <span style="font-size: 24px; color: #ff6c0a;">Eventbrite</span>
    </th>

    <th style="text-align: right;font-weight: normal;width: 300px;font-size: 14px;color:#878685;">
         <span style="font-size: 14px;">
          Order #{{order_id}}
          {% if attendee.ticket_type_sequence %}
              TicketType Sequence  #{{ attendee.ticket_type_sequence }}
          {% endif %}
          {% if attendee.event_sequence %}
              Event Sequence  #{{ attendee.event_sequence }}
          {% endif %}


         </span>
         <!-- <span style="font-size: 14px;">
           <br>Status {{order_status}}
         </span>
         <span style="font-size: 14px;">
           <br>Type <b>
            {{attendee.ticket_class}}
            </b>
         </span> -->
    </th>
  </tr>
</table>
<!-- - - - -  - - - - - - - - END HEADER - - - - - - - - - - - - - -->

<!-- - - - -  - - - - - - - - EVENT NAME - - - - - - - - - - - - - -->
<table>
  <tr>

    <th style="color: #515150;font-weight: normal;">
        <span style="font-size: 24px;">{{event_name_text}}</span>
    </th>
    <th style="width: 80px">

    </th>

  </tr>
</table>
<!-- - - - -  - - - - - - - - END EVENT NAME - - - - - - - - - - - - - -->
<table>
 <td style="color: #001b47;">
  <hr>
  <br>
    </td>
</table>
<!-- - - - -  - - - - - - - - TICKET DETAIL - - - - - - - - - - - - - -->
<table>
  <tr>
    <td style="color: #001b47; padding-left: 10px">
        <p>
       <span style="font-size: 14px; color:#ff6c0a;">LOCATION<br></span>
       <span style="font-size: 14px;color:#878685;">
        {{event_venue_location.address_1|default_if_none:""}}, {{event_venue_location.address_2|default_if_none:""}} - {{event_venue_location.postal_code|default_if_none:"" }}
        {{event_venue_location.city|default_if_none:""}}, {{event_venue_location.country|default_if_none:""}}
        {{event_venue_location.region|default_if_none:""}}

         </span>

        <p>
        <span style="font-size: 14px; color:#ff6c0a;">DATE<br></span>
        <span style="font-size: 14px;color:#878685;">
        {{event_start}}
        </p>
        </span>

        <p>
        <span style="font-size: 14px; color:#ff6c0a;">GUEST<br></span>
          <span style="font-size: 14px;color:#878685;">
         {{attendee.attendee_first_name}} {{attendee.attendee_last_name}}
         </p>
        </span>

        <span style="font-size: 14px; color:#ff6c0a;">TICKET TYPE<br></span>
          <span style="font-size: 14px;color:#878685;">
         {{attendee.ticket_class}}
         {% if customization.ticket_template.show_ticket_type_price %}
              {{ attendee.cost_gross }}
          {% endif %}
         </p>
        </span>

    </td>
    <td  style="width: 250px;background: #f9f9f9;color: #001b47;text-align: center;">
      <div class="qr-code">
            {% qr_from_text attendee.barcode "s" %}
        </div>
        <div class="eb">
        <img src="{% static 'custom_ticket/images/powered_by_eventbrite.png' %}" alt="powered_by_eventbrite">
        </div>
    </td>
  </tr>
</table>
<!-- - - - -  - - - - - - - - END TICKET DETAIL - - - - - - - - - - - - - -->
<!-- <table> -->
<!--  <td style="background: #f9f9f9;color: #001b47;"> -->
<!--     </td> -->
<!-- </table> -->
<!-- - - - -  - - - - - - - - FOOTER TICKET - - - - - - - - - - - - - -->
<table>
  <tr>
    <td style="color: #001b47;">
      <div class="logo">
        <img src="{{ logo_url }}" alt="LOGO" border="0" >
        </div>

    </td>

    <td style="color: #878685; text-align: left;">
                <span style="font-size: 14px;color:#878685;">
                  {{message_ticket}}
                </span>
    </td>
  </tr>
</table>
<br>
<span style="text-align: center">
  {{footer_description}}
</span>
<!-- - - - -  - - - - - - - - END FOOTER - - - - - - - - - - - - - -->
{% if customization.ticket_template.double_ticket %}

{% else %}
  <div style="display:block; page-break-before:always;"></div>
{% endif %}

{% if customization.ticket_template.double_ticket %}
<div class="dashed-line">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </div>
<!-- - - - -  - - - - - - - - HEADER - - - - - - - - - - - - - -->
<table>
  <tr >
    <th style="font-weight: bold;">
     <span style="font-size: 24px; color: #ff6c0a;">Eventbrite</span>
    </th>

    <th style="text-align: right;font-weight: normal;width: 300px;font-size: 14px;color:#878685;">
         <span style="font-size: 14px;">
          Order #{{order_id}}
          {% if attendee.ticket_type_sequence %}
              TicketType Sequence  #{{ attendee.ticket_type_sequence }}
          {% endif %}
          {% if attendee.event_sequence %}
              Event Sequence  #{{ attendee.event_sequence }}
          {% endif %}
         </span>
         <!-- <span style="font-size: 14px;">
           <br>Status {{order_status}}
         </span>
         <span style="font-size: 14px;">
           <br>Type <b>
            {{attendee.ticket_class}}
            </b>
         </span> -->
    </th>
  </tr>
</table>
<!-- - - - -  - - - - - - - - END HEADER - - - - - - - - - - - - - -->

<!-- - - - -  - - - - - - - - EVENT NAME - - - - - - - - - - - - - -->
<table>
  <tr>

    <th style="color: #515150;font-weight: normal;">
        <span style="font-size: 24px;">{{event_name_text}}</span>
    </th>
    <th style="width: 80px">

    </th>

  </tr>
</table>
<!-- - - - -  - - - - - - - - END EVENT NAME - - - - - - - - - - - - - -->
<table>
 <td style="color: #001b47;">
  <hr>
  <br>
    </td>
</table>
<!-- - - - -  - - - - - - - - TICKET DETAIL - - - - - - - - - - - - - -->
<table>
  <tr>
    <td style="color: #001b47;padding-left: 10px;">
        <p>
       <span style="font-size: 14px; color:#ff6c0a;">LOCATION<br></span>
       <span style="font-size: 14px;color:#878685;">
        {{event_venue_location.address_1|default_if_none:""}}, {{event_venue_location.address_2|default_if_none:""}} - {{event_venue_location.postal_code|default_if_none:"" }}
        {{event_venue_location.city|default_if_none:""}}, {{event_venue_location.country|default_if_none:""}}
        {{event_venue_location.region|default_if_none:""}}

         </span>

        <p>
        <br/>
        <span style="font-size: 14px; color:#ff6c0a;">DATE<br></span>
        <span style="font-size: 14px;color:#878685;">
        {{event_start}}
        </p>
        </span>

        <p>
        <span style="font-size: 14px; color:#ff6c0a;">GUEST<br></span>
          <span style="font-size: 14px;color:#878685;">
         {{attendee.attendee_first_name}} {{attendee.attendee_last_name}}
         </p>
        </span>

        <span style="font-size: 14px; color:#ff6c0a;">TICKET TYPE<br></span>
          <span style="font-size: 14px;color:#878685;">
         {{attendee.ticket_class}}
         {% if customization.ticket_template.show_ticket_type_price %}
              {{ attendee.cost_gross }}
          {% endif %}
         </p>
        </span>

    </td>
    <td  style="width: 250px;color: #001b47;text-align: center;">
      <div class="qr-code">
            {% qr_from_text attendee.barcode "s" %}
        </div>
        <div class="eb">
        <img src="{% static 'custom_ticket/images/powered_by_eventbrite.png' %}" alt="powered_by_eventbrite">
        </div>
    </td>
  </tr>
</table>

<!-- - - - -  - - - - - - - - END TICKET DETAIL - - - - - - - - - - - - - -->
<!-- <table> -->
<!--  <td style="background: #f9f9f9;color: #001b47;"> -->
<!--   <br> -->
<!--   <hr> -->
<!--     </td> -->
<!-- </table> -->
<!-- - - - -  - - - - - - - - FOOTER TICKET - - - - - - - - - - - - - -->
<table>
  <tr>
    <td style="color: #001b47;">
      <div class="logo">
        <img src="{{ logo_url }}" alt="LOGO" border="0" >
        </div>

    </td>

    <td style="color: #878685; text-align: left;">
                <span style="font-size: 14px;color:#878685;">
                  {{message_ticket}}
                </span>
    </td>
  </tr>
</table>
<span style="text-align: center">
  {{footer_description}}
</span>
<!-- - - - -  - - - - - - - - END FOOTER - - - - - - - - - - - - - -->


</body>
</html>
<style>
table {
}
</style>
<div style="display:block; page-break-before:always;"></div>
{% endif %}
{% endfor %}