{% load qr_tags %}
{% for attendee in attendees %}

    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        </head>
        <style>
        .dashed-line{
          padding-bottom: 5px;
          padding-top: 50px;
        }

        .qrdob{
        float: left;
        width: 100px;
        height: 100px;
        }
        .qr-code{
        width: 180px;
        }
        .logo {
        float: left;
        width: 150px;
        height:150px;
}
        </style>
        <body>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div class="logo">
                                {% if logo_url %}
                                 <img  style="font-family: myFirstFont;padding: 20px;" src="{{ logo_url }}" alt="LOGO" border="0" >
                                {% else %}
                                <img class="front"  src="static/images/eblogo.png" alt="">
                                {% endif %}
                            </div>
                            </td>

                            <td colspan="2" style="text-align:right; width: 150px" >
                                <div class="qr-code">
                                {% qr_from_text attendee.barcode "m" %}
                                </div>
                                <br>
                            </td>

                        </tr>

                        <tr>
                            <td colspan="2">
                                <h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px">
                                {{event_name_text}} </h2>

                                <br>
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td>
                                <p style="color:#666666;font-weight:400;font-size:15px;line-height:21px;margin-bottom:18px">
                                    <b>Order:</b> {{order_id}} <br>
                                    {% if attendee.ticket_type_sequence %}
                                          <b>Sequence</b> #{{ attendee.ticket_type_sequence }}<br>
                                      {% endif %}
                                      {% if attendee.event_sequence %}
                                          Sequence #{{ attendee.event_sequence }}<br>
                                      {% endif %}
                                    <b>Order Status:</b> {{order_status}} <br>
                                    <b>Venue Addreess:</b>
                                    {{event_venue_location.address_1|default_if_none:""}} | {{event_venue_location.address_2|default_if_none:""}} |
                                    {{event_venue_location.city|default_if_none:""}} | {{event_venue_location.region|default_if_none:""}} | {{event_venue_location.country|default_if_none:""}}

                                </p>
                                <br>
                            </td>
                                <table cellpadding="0" cellspacing="0" border="0" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="border-bottom:1px dashed #d3d3d3;text-align:left;padding-bottom:12px;padding-right:12px">
                                                <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-weight:500">
                                                Name </div>
                                            </th>
                                            <th style="border-bottom:1px dashed #d3d3d3;text-align:left;padding-bottom:12px;padding-right:12px">
                                                <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-weight:500">
                                                Type </div>
                                            </th>
                                            {% if attendee.reserved_seating %}
                                            <th style="border-bottom:1px dashed #d3d3d3;text-align:left;padding-bottom:12px;padding-right:12px">
                                                <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-weight:500">
                                                Section </div>
                                            </th>
                                            {% endif %}
                                            <th style="border-bottom:1px dashed #d3d3d3;text-align:right;padding-bottom:12px;padding-right:0">
                                                <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-weight:500">
                                                Quantity </div>
                                            </th>
                                            {% if not customization.ticket_template.hide_ticket_type_price %}
                                            <th style="border-bottom:1px dashed #d3d3d3;text-align:right;padding-bottom:12px;padding-right:0">
                                                <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-weight:500">
                                                Cost </div>
                                            </th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td style="padding:12px 0;padding-right:3px">
                                                <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px">
                                                {{attendee.attendee_first_name}} {{attendee.attendee_last_name}}  </div>
                                            </td>
                                            <td style="padding:12px 0;padding-right:3px">
                                                <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px">
                                                {{attendee.ticket_class}}  </div>
                                            </td>
                                            {% if attendee.reserved_seating %}
                                            <td style="padding:12px 0;padding-right:3px">
                                                <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px">
                                                {{ attendee.reserved_seating }} </div>
                                            </td>
                                            {% endif %}
                                            <td style="text-align:right;padding:12px 0">
                                                <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px">
                                                {{attendee.quantity}} 1</div>
                                            </td>
                                            {% if not customization.ticket_template.hide_ticket_type_price %}
                                            <td style="text-align:right;padding:12px 0">
                                                <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px">
                                                      {{ attendee.cost_gross }}
                                                </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                    </tbody>
                </table>
            <!-- IMAGE PARTNER -->
<table>
 <td style="color: #001b47;">
  <hr>
  <br>
    </td>
</table>
    {% if image_partner %}
    <table>
         <tr>
           <td style="color: #001b47; padding-left: 10px">
            <div>
                <img style="width: 240px; height: 135px;" src="{{ image_partner }}" alt="LOGO" border="0" > <br><br>
            </div>
             </td>
             <td style="color: #878685; text-align: left;">
                <span style="font-size: 14px;color:#878685;">
                  {{message_ticket}}
                </span>
                </td>
                 </tr>
    </table>
    {% else %}
    <table>
         <tr>
             <td style="color: #878685; text-align: center;">
                <span style="font-size: 14px;color:#878685;">
                  {{message_ticket}}
                </span>
                </td>
                 </tr>
    </table>
    {% endif %}
 <table>
 <td style="color: #001b47;">
  <hr>
  <br>
    </td>
</table>
            <span style="text-align: center;">
                {{footer_description}}
              </span>
        </div>
        {% if customization.ticket_template.double_ticket %}

{% else %}
  <div style="display:block; page-break-before:always;"></div>
{% endif %}

{% if customization.ticket_template.double_ticket %}
<div class="dashed-line">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </div>
<!-- - - - -  - - - - - - - - HEADER - - - - - - - - - - - - - -->




<!-- - - - -  - - - - - - - - END HEADER - - - - - - - - - - - - - -->

<!-- - - - -  - - - - - - - - EVENT NAME - - - - - - - - - - - - - -->
  <table>
    <tr>

      <th style="color: #515150;font-weight: normal;">
          <span style="font-size: 20px;">{{event_name_text}}</span>
      </th>

    </tr>
  </table>
<!-- - - - -  - - - - - - - - END EVENT NAME - - - - - - - - - - - - - -->

<!-- - - - -  - - - - - - - - TICKET DETAIL - - - - - - - - - - - - - -->
  <table>
    <tr>
      <td style="padding-left: 10px;">

         <span style="font-size: 10px; font-weight: bold;"">LOCATION<br></span>
         <span style="font-size: 10px;color:#878685;">
          {{event_venue_location.address_1|default_if_none:""}}, {{event_venue_location.address_2|default_if_none:""}} - {{event_venue_location.postal_code|default_if_none:"" }}
          {{event_venue_location.city|default_if_none:""}}, {{event_venue_location.country|default_if_none:""}}
          {{event_venue_location.region|default_if_none:""}}

           </span>

          <p>
          <span style="font-size: 10px; font-weight: bold;">DATE<br></span>
          <span style="font-size: 10px;color:#878685;">
          {{event_start}}
          </p>
          </span>


          <span style="font-size: 10px; font-weight: bold;">TICKET TYPE<br></span>
            <span style="font-size: 10px;color:#878685;">
           {{attendee.ticket_class}} <br>
           {% if customization.ticket_template.hide_ticket_type_price %}
                {{ attendee.cost_gross }}
            {% endif %}
           </p>
          </span>

      </td>
      <td  style="width: 150px;text-align: center;">
        <div class="qrdob">
              {% qr_from_text attendee.barcode "s" %}<br>
              <span style="font-size: 10px;">
            Order #{{order_id}} <br>
            {% if attendee.ticket_type_sequence %}
                Sequence #{{ attendee.ticket_type_sequence }}<br>
            {% endif %}
            {% if attendee.event_sequence %}
                Sequence #{{ attendee.event_sequence }}<br>
            {% endif %}
           </span>
          </div>

      </td>
    </tr>
  </table>

<!-- - - - -  - - - - - - - - END TICKET DETAIL - - - - - - - - - - - - - -->

<!-- - - - -  - - - - - - - - FOOTER TICKET - - - - - - - - - - - - - -->
<br>
  <span style="text-align: center;">
    {{footer_description}}
  </span>
<!-- - - - -  - - - - - - - - END FOOTER - - - - - - - - - - - - - -->
</div>

</body>
</html>
<style>
table {
}
</style>
<div style="display:block; page-break-before:always;"></div>
{% endif %}
{% endfor %}
