<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Title</title>
        <style type="text/css">
        body {
        font-weight: 200;
        font-size: 14px;
        border:solid;
        color:#f6682F;
        background-color:#FFF;
        border-color:black;
        }
        .contain {
        padding-top:15px;
        padding-left:10px;
        }
        .title {
        padding-top:15px;
        text-align: center;
        font-size:28px;
        }
        .description {
        text-align: center;
        }
        </style>
    </head>
    <body>
        <div class=title>Example Ticket</div>
        <div class=contain>
            <b>Name:</b>  Agustin<br/>
            <b>Class:</b>  VIP <br/>
            <b>Date:</b> <br/>
            <b>Place:</b> Eventbrite <br/>
            <div class=description><b>Description</b><br/>
                <!--API data-->
                {{event_name}}
                {{event_logo}}
                {{event_date}}
                {{event_time_start}}
                {{event_time_end}}
                {{event_logo}}
                {{event_location}}

                {{attendee_name}}

                {{order_id}}
                {{order_info}}<!--Order #123. Ordered by USER_NAME on April 5, 2018 10:15-->
                {{order_payment_status}}

                {{ticket_class_name}} <!--Ticket VIP-->
                {{ticket_class_seat}}<!--Seat 18F-->

                <!--Our model-->
                {{ticket_class_message}}
                {{event_message}}

                {{organizer_logo}}


                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur laudantium ea, ullam iusto officiis culpa, quisquam odit veritatis velit atque, similique qui sunt earum natus porro molestiae ab mollitia. Necessitatibus!
                <br/>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ab ipsam earum accusamus enim delectus nulla, accusantium quia nemo, quam qui non fuga ex ratione dolor nesciunt amet quidem ipsa.
            </div>
        </div>
    </body>
</html>