<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Title</title>
        <style type="text/css">
        body {
        font-weight: 200;
        font-size: 14px;
        border:solid;
        color:#f6682F;
        background-color:#FFF;
        border-color:black;
        }
        .contain {
        padding-top:15px;
        padding-left:10px;
        }
        .title {
        padding-top:15px;
        text-align: center;
        font-size:28px;
        }
        .description {
        text-align: center;
        }
        </style>
    </head>
    <body>
        <div class=title>Example Ticket</div>
        <div class=contain>
            <b>Name:</b>  Agustin<br/>
            <b>Class:</b>  VIP <br/>
            <b>Date:</b> <br/>
            <b>Place:</b> Eventbrite <br/>
            <div class=description><b>Description</b><br/>

OrderID: {{order_id}}
attendee_first_name: {{attendee_first_name}}<br>  
event_name_text: {{event_name_text}}<br> 
event_start: {{event_start}}<br> 
event_venue_location_name: {{event_venue_location_name}}<br> 
user_order_email: {{user_order_email}}<br> 
order_id: {{order_id}}<br> 
order_created: {{order_created}}<br> 
user_order_first_name: {{user_order_first_name}}<br> 
order_status: {{order_status}}<br> 
ticket_class: {{ticket_class}}<br> 
organizer_logo:{{organizer_logo}}<br> 
                <!--What we have-->
                MENSAGEM:  {{message}} <br>
                LOGO:  {{logo}}<br>
                MENSAGEM_TICKET: {{message_ticket}}<br>

                <!-- We dont have -->
                {{ticket_class_seat}}<!--Seat 18F-->





                <br/>
            </div>
        </div>
    </body>
</html>