<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Email Preview</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/email.css" />
    </head>
    <body color="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
        <table class="head-wrap" color="#999999">
            <tr>
                <td></td>
                <td class="header container">
                    <div class="content">
                        <table color="#999999" class="">
                            <tr>
                                <td>

                                </td>
                                <td align="right"><h6 class="collapse"></h6></td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td></td>
            </tr>
        </table>
        <table class="body-wrap">
            <tr>
                <td></td>
                <td class="container" color="#FFFFFF">
                    <div class="content">
                        <table>
                            <tr>
                                <td>
                                    <!--What we have-->
                                    MENSAGEM: {{message}} <br>
                                    LOGO: {{logo}}<br>
                                    MENSAGEM_TICKET: {{message_ticket}}<br>
                                    </p>
                                    <h2>
<br><br><br>
<!-- DATOS API
 -->
OrderID: {{order_id}}
attendee_first_name: {{attendee_first_name}}<br>  
event_name_text: {{event_name_text}}<br> 
event_start: {{event_start}}<br> 
event_venue_location_name: {{event_venue_location_name}}<br> 
user_order_email: {{user_order_email}}<br> 
order_id: {{order_id}}<br> 
order_created: {{order_created}}<br> 
user_order_first_name: {{user_order_first_name}}<br> 
order_status: {{order_status}}<br> 
ticket_class: {{ticket_class}}<br> 
organizer_logo:{{organizer_logo}}<br> 
                <!--What we have-->
                MENSAGEM:  {{message}} <br>
                LOGO:  {{logo}}<br>
                MENSAGEM_TICKET: {{message_ticket}}<br>

<!-- FINAL DATOS
 -->
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="column-wrap">
                        <div class="column">
                            <table align="left">
                                <tr>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
        </table>
        <table class="footer-wrap">
            <tr>
                <td></td>
                <td class="container">
                    <div class="content">
                        <table>
                            <tr>
                                <td align="center">
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td></td>
            </tr>
        </table>
    </body>
</html>