<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <h3>Bienvenido, {{ user.first_name }} {{ user.last_name }}</h3>
    <a href="/accounts/logout/?next=/events/">Logout</a>



    </p>
    {% for customization in Customization %}
    <ul>
        <p align="middle">
            <a href=# style="text-decoration:none">
                <img src="/static/images/plus_orange.png" width="50" height="50">
                <br>
                <i>Custom Tickets</i>
            </a>
        </p>
        <li>id customization: <b>{{ customization.id }}</b>
        </li>
    </ul>
     {% endfor %}
     {% if customization == null %}
     <h3>Nothing to show</h3>
     {% endif %}
     <br>
     <br>
     <br>
     <br>
    <p>
    <a href="/customizations/">Create a Customization</a>
    </p>
</body>
</html>
