<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h3>Bienvenido, {{ user.first_name }} {{ user.last_name }}</h3>
    <a href="/accounts/logout/?next=/events/">Logout</a>
    {% for event in events %}
    <ul> <li>name: <b>{{ event.name.html }}</b> | start : <b>{{ event.start.local}}</b> | status:<b>{{ event.status }}</b>

    <!-- no works -->
    <!-- url 'events.views.show_tickets' eventID=event.id -->

    </li></ul>
     {% endfor %}
</body>
</html>


