{% extends 'base.html' %}
{% block content %}
  <h1>My Customizations</h1>
  <ul>

    {% for customs in object_list %}
      <p>

        <div class="w3-container ">
          <div class="w3-hover-shadow w3-card" style="width:100%;">
            <header class="w3-container w3-light-grey ">
              <h1>Customization: {{ customs.name }}</h1>
              <h4>Custom ID: {{ customs.id }}</h4>
              <h6>Created {{ customs.created }} by  {{ customs.user }} </h6>
            </header>
            <div class="w3-container">
              <p>
                <ul class="nav">
                  <div class="col-md-4">
    <div class="thumbnail">
        <img src="{{ customs.custom_email.logo }}" class="img-responsive thumbnail" alt="Logo">
        <div class="caption">
          <p>Logo:{{ customs.custom_email.logo }}</p>
        </div>
    </div>
  </div>


                  <li> </li>

                  <li>Message: {{ customs.custom_email.message }} </li>
                  <li>Message Ticket: {{ customs.ticket_template.message_ticket }} </li>
                  <li>Design selected: {{ customs.ticket_template.select_design_template }} </li>
                </p>
              </ul>
            </div>
            <footer class="w3-container ">
              <br>
              <p class="btn-group">
                <a  href="{% url 'mails:form_send_mail' pk=customs.id  %}"><button type="button" class="btn btn-success"> <span class="fa fa-envelope"></span> Send Email Test </button></a>
                <a  href="{% url 'customizations:delete_customization' pk=customs.id  %}"><button type="button" class="btn btn-danger"><span class="fa fa-trash"></span> Delete  <br></button></a>
                <a  href="{% url 'customizations:update_customization' pk=customs.id  %}"><button type="button" class="btn"></span> Update  <br></button></a>
                <a  href="{% url 'mails:email_preview' pk=customs.id  %}"><button type="button" class="btn"></span> Preview Email PDF  <br></button></a>
                <a  href="{% url 'mails:generate_pdf' pk=customs.id  %}"><button type="button" class="btn"></span> Preview Ticket PDF  <br></button></a>
              </p>
            </footer>
          </div>
        </div>
      </p>
      {% empty %}
      <li>No customizations yet.</li>
    {% endfor %}

  </ul>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">
        <a href="{% url 'customizations:create_customization' %}">
          <button type="button" class="pull-right btn btn-circle btn-danger"><span class="fa fa-plus"></span></button>
        </a>
      </span>
    </div>
  </footer>
{% endblock %}