{% extends 'base.html' %}
{% block content %}
  <h1>My Customizations</h1>
  <ul>
    {% for customs in object_list %}
      <p>
        <div class="w3-container">
          <div class="w3-card-4" style="width:50%;">
            <header class="w3-container w3-orange">
              <h1>Custom ID: {{ customs.id }}</h1>
              <h6>Created {{ customs.created }} by  {{ customs.user }} </h6>
            </header>
            <div class="w3-container">
              <p>
                <ul class="nav">
                  <li>Logo: {{ customs.custom_email.logo }} </li>
                  <li>Message: {{ customs.custom_email.message }} </li>
                </p>
              </ul>
            </div>
            <footer class="w3-container ">
              <br>
              <p class="btn-group">
                <a  href="{% url 'customizations:form_send_mail' pk=customs.id  %}"><button type="button" class="btn btn-success"> <span class="fa fa-envelope"></span> Send Email Test </button></a>
                <a  href="{% url 'customizations:delete_customization' pk=customs.id  %}"><button type="button" class="btn btn-danger"><span class="fa fa-trash"></span> Delete  <br></button></a>
              </p>
            </footer>
          </div>
        </div>
      </p>
      {% empty %}
      <li>No customizations yet.</li>
    {% endfor %}
  </ul>
  <footer class="footer">
    <div class="container">
      <span class="text-muted">
        <a href="{% url 'customizations:create_customization' %}">
          <button type="button" class="pull-right btn btn-circle btn-danger"><span class="fa fa-plus"></span></button>
        </a>
      </span>
    </div>
  </footer>
{% endblock %}